@model IEnumerable<Praia>
@{
    ViewData["Title"] = "Rotas";

    
}

<div class="Praias">

@foreach (var praias in Model){

<container class="Praia">
    <h1 class="NomesPraias">@praias.Nome</h1>
            <img src="~/img/@praias.img" class="imgPraias" alt="@praias.img" />
    <div class = "Atributos">
        @if (@praias.condicao == "Própria"){
        <h1 class="text-success" style="font-size: 20px" >Condição: @praias.condicao </h1>
        }
        else{
        <h1 class="text-danger" style="font-size: 20px" >Condição: @praias.condicao </h1>
        }
                <h1 class="municipio" style="font-size: 20px"> Município: @praias.municipio.Nome </h1>
    </div>
    <container class="TextBoxRoutes">
        <a>@praias.rota</a>
    </container>
</container>
}

</div>
